body{
    background-color: #2424;
}
h1{
    text-align: center;
    text-decoration-line: line-through;
}
.container{
    width: 400px;
    border: 2px solid #242424;
    border-radius: 10px;
    padding: 20px;
    margin-inline: auto;
}
.inputfield{
    margin-bottom:15px;
}
.inputfield input{
    width: 95%;
    height: 30px;
    padding-left: 15px;
    font-size: 18px;
    border-radius: 10px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button button{
    width: 80px;
    height: 30px;
    font-size: 17px;
    border-radius: 10px;
}
.container hr{
    border: 2px solid ;
}
.container p{
    color: red;
    font-family: sans-serif;
    visibility: hidden;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}