body{
    background-color: #2424;
    font-family: monospace;
}
p{
    font-size: 18px;
}
p::before{
    content: "# ";
    color: red;
    font-size: 25px;
}
div{
    min-width: 100px;
    min-height: 100px;
    border: 2px solid #000;
    padding: 30px;
}