 .watch{
    position: absolute;
   left: 50%;
   top: 15%;
   transform: translate(-50%,-50%);
   border: 2px solid black;
   width: 300px;
   border-radius: 10px;
   background-image: linear-gradient(30deg,gray,white,gray);
 }
 .watch h1{
  width: 100%;
  text-align: center;
  font-family: sans-serif;
 }
 .watch #show{
  margin-top:-20px;
 }
