body{
    background-color: #242424;
    color: #fff;
}
h1{
    text-align: center;
}
.container h2{
margin-left: 100px;
font-size: 30px;
}
button{
    width: 100px;
    height: 40px;
    font-size: 20px;
}