.font{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.font::after{
    content: " ####";
    color: red;
}
.animation{
    position: relative;
    animation: tag 4s linear infinite;
}

.background{
    background-image: linear-gradient(90deg,black,black,gray);
    /* rotate:-20deg ;
    transition:rotate 10s linear; */
}
.size{
    width: 200px;
    border-radius: 20px;
    padding: 10px;
}
@keyframes tag {
    0%{left:0px; top:0px; rotate: 360deg;}
    25%{left: 400px; top: 0px;}
    50%{left: 400px; top: 400px;}
    75%{left: 0px; top: 400px;}
    100%{left:0px; top:0px;}
}
