body{
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
#message{
    width: 400px;
    border: 2px solid green;
    padding: 5px;
    border-radius: 10px;
    display: none;
    color: #fff;
    box-shadow: 0px 5px 10px 5px;
    font-family: sans-serif;
}
#click{
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    background-color: black;
    outline: none;
    box-shadow:5px 5px 10px 2px rgba(0,0,0,0.9);
}
#message p{
    text-align: center;
}
#message p img{
    width: 200px;
    height: 230px;
    border-radius: 20%;
}